<div>Name: <%= @user.name %></div>
<div>Alias: <%= @user.alias %></div>
<div>Email: <%= @user.email %></div>

<hr>

<div>Total number of posts: <%= @user.ideas.count %></div>
<div>Total number of likes: <%= @user.likes.count %></div>